<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml1027/blob/main/imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 2s 0us/step
84140032/84125825 [==============================] - 2s 0us/step

In [4]:
dataset

'/root/.keras/datasets/aclImdb.tar.gz'

In [2]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [5]:
train_df = getdata("train")
test_df = getdata("test")

In [7]:
test_df

                                                 content  sentiment
0      Valentine "Dogkiller" Dussaut and Joe "The Jud...          1
1      Ruthless mercenary Bruno Rivera (Paul Naschy i...          1
2      Should we take the opening shot as a strange f...          1
3      Being a retired medical/health field "toiler i...          1
4      I wasn't expecting a great deal from this film...          1
...                                                  ...        ...
24995  I give it a 2, because of the beautiful Medite...          0
24996  How bad can you make a film. A good question w...          0
24997  Oh, my. Oh, this is a *really* bad movie. The ...          0
24998  Apparently re-cut episodes from the Gangbuster...          0
24999  Another winner from that 50s , 60s era that I ...          0

[25000 rows x 2 columns]

In [13]:
# Tokenize: 把你的詞變成數字
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [12]:
# tok.word_index
# tok.index_word

In [14]:
# Sequence: 化成數字的序列
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])

In [18]:
# pd.DataFrame(x_train_seq)
# Padding: 截長補短變成一樣長
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=512)
x_test_pad = pad_sequences(x_test_seq, maxlen=512)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   506   507   508   509  510   511
0        0    0    0    0    0    0  ...    31   324  1301     7    7  1174
1        0    0    0    0    0    0  ...  1036   898     5    69  130  2353
2        0    0    0    0    0    0  ...   369    50     4    95  786   155
3        0    0    0    0    0    0  ...   763     6     3    52  315    17
4        0    0    0    0    0    0  ...     4   533    96    73    7     7
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...     3  1386     7     7  339   155
24996    9   66  282   36    1    1  ...   434     7     7  1239   43     4
24997    0    0    0    0    0    0  ...   232    12    10  1046    3   152
24998    0    0    0    0    0    0  ...    29     1    99     4   11   429
24999    0    0    0    0    0    0  ...   113    39   352   552   15   153

[25000 rows x 512 columns]