<a href="https://colab.research.google.com/github/Elwing-Chou/tibaml1027/blob/main/imdb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import tensorflow as tf

dataset = tf.keras.utils.get_file(
    fname="aclImdb.tar.gz", 
    origin="http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz", 
    extract=True,
)

Downloading data from http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz
84131840/84125825 [==============================] - 6s 0us/step
84140032/84125825 [==============================] - 6s 0us/step

In [3]:
dataset

'/root/.keras/datasets/aclImdb.tar.gz'

In [4]:
import os
import glob
import pandas as pd
def getdata(mid):
    dn = os.path.dirname(dataset)
    posfn = glob.glob(os.path.join(dn, "aclImdb", mid, "pos", "*"))
    negfn = glob.glob(os.path.join(dn, "aclImdb", mid, "neg", "*"))
    contents = []
    for fn in posfn + negfn:
        with open(fn, encoding="utf-8") as f:
            contents.append(f.read())
    df = pd.DataFrame({
        "content":contents,
        "sentiment":[1] * len(posfn) + [0] * len(negfn)
    })
    return df

In [5]:
train_df = getdata("train")
test_df = getdata("test")

In [6]:
test_df

                                                 content  sentiment
0      Valentine "Dogkiller" Dussaut and Joe "The Jud...          1
1      Ruthless mercenary Bruno Rivera (Paul Naschy i...          1
2      Should we take the opening shot as a strange f...          1
3      Being a retired medical/health field "toiler i...          1
4      I wasn't expecting a great deal from this film...          1
...                                                  ...        ...
24995  I give it a 2, because of the beautiful Medite...          0
24996  How bad can you make a film. A good question w...          0
24997  Oh, my. Oh, this is a *really* bad movie. The ...          0
24998  Apparently re-cut episodes from the Gangbuster...          0
24999  Another winner from that 50s , 60s era that I ...          0

[25000 rows x 2 columns]

In [7]:
# Tokenize: 把你的詞變成數字
from tensorflow.keras.preprocessing.text import Tokenizer
tok = Tokenizer(num_words=3000)
tok.fit_on_texts(train_df["content"])

In [8]:
# tok.word_index
# tok.index_word

In [9]:
# Sequence: 化成數字的序列
x_train_seq = tok.texts_to_sequences(train_df["content"])
x_test_seq = tok.texts_to_sequences(test_df["content"])

In [10]:
INPUT_LENGTH = 512
INPUT_DIM = 3000
OUTPUT_DIM = 128

In [11]:
# pd.DataFrame(x_train_seq)
# Padding: 截長補短變成一樣長
from tensorflow.keras.preprocessing.sequence import pad_sequences
x_train_pad = pad_sequences(x_train_seq, maxlen=INPUT_LENGTH)
x_test_pad = pad_sequences(x_test_seq, maxlen=INPUT_LENGTH)
pd.DataFrame(x_train_pad)

       0    1    2    3    4    5    ...   506   507   508   509  510   511
0        0    0    0    0    0    0  ...    31   324  1301     7    7  1174
1        0    0    0    0    0    0  ...  1036   898     5    69  130  2353
2        0    0    0    0    0    0  ...   369    50     4    95  786   155
3        0    0    0    0    0    0  ...   763     6     3    52  315    17
4        0    0    0    0    0    0  ...     4   533    96    73    7     7
...    ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...  ...   ...
24995    0    0    0    0    0    0  ...     3  1386     7     7  339   155
24996    9   66  282   36    1    1  ...   434     7     7  1239   43     4
24997    0    0    0    0    0    0  ...   232    12    10  1046    3   152
24998    0    0    0    0    0    0  ...    29     1    99     4   11   429
24999    0    0    0    0    0    0  ...   113    39   352   552   15   153

[25000 rows x 512 columns]

In [12]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, Flatten, Dense, Dropout
layers = [
    # 3001(種詞) * 128(個情緒)
    Embedding(INPUT_DIM+1, OUTPUT_DIM, mask_zero=True, input_length=INPUT_LENGTH),
    Flatten(),
    Dense(256, activation="relu"),
    Dropout(0.25),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding (Embedding)       (None, 512, 128)          384128

 flatten (Flatten)           (None, 65536)             0

 dense (Dense)               (None, 256)               16777472

 dropout (Dropout)           (None, 256)               0

 dense_1 (Dense)             (None, 2)                 514

=================================================================
Total params: 17,162,114
Trainable params: 17,162,114
Non-trainable params: 0
_________________________________________________________________

In [13]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Embedding, GlobalAveragePooling1D, Dense
layers = [
    # 3001(種詞) * 128(個情緒)
    Embedding(INPUT_DIM+1, OUTPUT_DIM, mask_zero=True, input_length=INPUT_LENGTH),
    GlobalAveragePooling1D(),
    Dense(2, activation="softmax")
]
model = Sequential(layers)
model.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_1 (Embedding)     (None, 512, 128)          384128

 global_average_pooling1d (G  (None, 128)              0
 lobalAveragePooling1D)

 dense_2 (Dense)             (None, 2)                 258

=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [14]:
# 一個輸出(二元分類): BinaryCrossEntropy p log 1/q + (1 - p) log 1/1-q
# 多個輸出(多元分類): CategoricalCrossEntropy pi log1/qi
from tensorflow.keras.losses import SparseCategoricalCrossentropy
model.compile(loss=SparseCategoricalCrossentropy(),
              # "adam"也可以
              optimizer="adam",
              metrics=["accuracy"])

In [15]:
import numpy as np
y_train = np.array(train_df["sentiment"])
y_test = np.array(test_df["sentiment"])

In [16]:
# batch_size: 看多少筆, 做一次梯度下降(幾10~幾100)
# epochs: 所有資料看幾輪(負責結束訓練)
# batch_size=200
# 一epochs: 54000 / 200 = 270(次梯度下降)
# verbose=0(quiet) 1(default) 2(no bar)
from tensorflow.keras.callbacks import EarlyStopping, ModelCheckpoint
callbacks = [
    EarlyStopping(patience=5, restore_best_weights=True),
    ModelCheckpoint("imdb.h5", save_best_only=True)
]
model.fit(x_train_pad,
          y_train,
          batch_size=200,
          epochs=100,
          validation_split=0.1,
          verbose=2,
          callbacks=callbacks)

Epoch 1/100
113/113 - 3s - loss: 0.6362 - accuracy: 0.6460 - val_loss: 0.6649 - val_accuracy: 0.5900 - 3s/epoch - 30ms/step
Epoch 2/100
113/113 - 1s - loss: 0.4667 - accuracy: 0.8276 - val_loss: 0.4963 - val_accuracy: 0.7692 - 1s/epoch - 11ms/step
Epoch 3/100
113/113 - 1s - loss: 0.3603 - accuracy: 0.8680 - val_loss: 0.4311 - val_accuracy: 0.8048 - 1s/epoch - 11ms/step
Epoch 4/100
113/113 - 1s - loss: 0.3101 - accuracy: 0.8832 - val_loss: 0.3695 - val_accuracy: 0.8392 - 1s/epoch - 11ms/step
Epoch 5/100
113/113 - 1s - loss: 0.2804 - accuracy: 0.8932 - val_loss: 0.3693 - val_accuracy: 0.8368 - 1s/epoch - 11ms/step
Epoch 6/100
113/113 - 1s - loss: 0.2605 - accuracy: 0.9019 - val_loss: 0.4165 - val_accuracy: 0.8148 - 1s/epoch - 11ms/step
Epoch 7/100
113/113 - 1s - loss: 0.2466 - accuracy: 0.9063 - val_loss: 0.3806 - val_accuracy: 0.8336 - 1s/epoch - 11ms/step
Epoch 8/100
113/113 - 1s - loss: 0.2356 - accuracy: 0.9096 - val_loss: 0.3793 - val_accuracy: 0.8380 - 1s/epoch - 11ms/step
Epoch 9/100
113/113 - 1s - loss: 0.2266 - accuracy: 0.9134 - val_loss: 0.3706 - val_accuracy: 0.8444 - 1s/epoch - 11ms/step
Epoch 10/100
113/113 - 1s - loss: 0.2204 - accuracy: 0.9164 - val_loss: 0.3516 - val_accuracy: 0.8580 - 1s/epoch - 11ms/step
Epoch 11/100
113/113 - 1s - loss: 0.2142 - accuracy: 0.9191 - val_loss: 0.3788 - val_accuracy: 0.8452 - 1s/epoch - 11ms/step
Epoch 12/100
113/113 - 1s - loss: 0.2096 - accuracy: 0.9209 - val_loss: 0.3725 - val_accuracy: 0.8480 - 1s/epoch - 11ms/step
Epoch 13/100
113/113 - 1s - loss: 0.2047 - accuracy: 0.9223 - val_loss: 0.4036 - val_accuracy: 0.8376 - 1s/epoch - 11ms/step
Epoch 14/100
113/113 - 1s - loss: 0.2011 - accuracy: 0.9251 - val_loss: 0.3653 - val_accuracy: 0.8568 - 1s/epoch - 11ms/step
Epoch 15/100
113/113 - 1s - loss: 0.1980 - accuracy: 0.9258 - val_loss: 0.4017 - val_accuracy: 0.8412 - 1s/epoch - 11ms/step

In [17]:
model.evaluate(x_test_pad, y_test)

782/782 [==============================] - 2s 3ms/step - loss: 0.2895 - accuracy: 0.8822

[0.28947484493255615, 0.8821600079536438]

In [18]:
l = [
    Embedding(INPUT_DIM+1, OUTPUT_DIM, mask_zero=True)
]
remain = model.layers[1:]
model_use = Sequential(l+remain)
model_use.layers[0].set_weights(model.layers[0].get_weights())
model_use.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_2 (Embedding)     (None, None, 128)         384128

 global_average_pooling1d (G  (None, 128)              0
 lobalAveragePooling1D)

 dense_2 (Dense)             (None, 2)                 258

=================================================================
Total params: 384,386
Trainable params: 384,386
Non-trainable params: 0
_________________________________________________________________

In [ ]:
review = ""#@param {type:"string"}
review_seq = tok.texts_to_sequences([review])
proba = model_use.predict(review_seq)[0]
trans = ["neg", "pos"]
for p, sentiment in zip(proba, trans):
    print(sentiment, ":", p)

In [20]:
# RNN -> 改進 LSTM, GRU
from tensorflow.keras.layers import SimpleRNN
layers = [
    # 3001(種詞) * 128(個情緒)
    Embedding(INPUT_DIM+1, OUTPUT_DIM, mask_zero=True, input_length=INPUT_LENGTH),
    # Embedding W: 128 * 64 + 記憶 W: 64 * 64 + bias: 64 = 12352
    SimpleRNN(64),
    Dense(2, activation="softmax")
]
rnn = Sequential(layers)
rnn.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 embedding_3 (Embedding)     (None, 512, 128)          384128

 simple_rnn (SimpleRNN)      (None, 64)                12352

 dense_3 (Dense)             (None, 2)                 130

=================================================================
Total params: 396,610
Trainable params: 396,610
Non-trainable params: 0
_________________________________________________________________

In [ ]:
l = [
     Embedding(INPUT_DIM+1, OUTPUT_DIM),
     GlobalAveragePooling1D()
]
partial = Sequential(l)
partial.layers[0].set_weights(model.layers[0].get_weights())
partial.summary()

In [31]:
from scipy.spatial.distance import cosine
w1 = "This movie sucks"#@param {type:"string"}
w2 = "I hate this movie. It's totally a disaster."#@param {type:"string"}
seq1 = tok.texts_to_sequences([w1])
seq2 = tok.texts_to_sequences([w2])
em1 = partial.predict(seq1)[0]
em2 = partial.predict(seq2)[0]
dis = 1 - cosine(em1, em2)
print("cos相似度:", dis)

cos相似度: 0.9469403624534607